.App {
    width: 960px;
    margin: 0 auto;
}

.App-header {
    text-align: center;
    margin: 40px 0 0 0;
}

.NoteForm-textArea {
    width: 80%;
}

.Note-foot {
    margin: 40px 0;
}

.Note-hr {
    margin: 0 20px;
}

.Note-row {
    margin-top: 20px;
}
